{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
{% load office_tag %}
<div>
    welcome - {{e.name}}
</div>

{% include 'include/office/office_menu.html' %}

<style>
    .farmer_box{
        gap: 10px;
        border-collapse:collapse;
        border:1px solid #000000;
        margin-bottom: 10px;
        padding: 10px;
        .flex{
            display:  flex;
            justify-content: space-evenly;
        }
    }
</style>

<div class="container">
    {% for f  in farmer %}
    <div class="farmer_box">
        <div class="flex">
            <div>{{f.name}}</div>
            <div>{{f.mobile}}</div>
        </div>
        {% pendding_completed_farmer_bill f.id %}
    </div>
    {% endfor %}
</div>

{% endblock content %}